* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

header {
    font-weight: bold;
    text-align: center;
    color: white;
    padding: 24px;
    background-image: linear-gradient(to right, #0067a5, #561D5E);
}

h2, h3 {
    font-weight: 500;
}

.container {
    margin-top: 16px;
}

.btn {
    border-radius: 5px;
}

.city-input {
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 12px;
    border-width: thin;
}

.search-title {
    justify-content: center;
}

.search-btn {
    background-color: #87CEEB;
    margin-top: 8px;
    margin-bottom: 8px;
}

.search-btn:hover {
    background-color: #1f8fbc;    
}

.fa-magnifying-glass {
    padding-left: 16px;
}

.clear-history {
    background-color: #ff291e;
    margin-top: 8px;
    margin-bottom: 8px;
}

.clear-history:hover {
    background-color: #dc0b00;
}

.fa-trash-can {
    padding-left: 16px;
}

.future-weather {
    margin-top: 8px;
}

.future-forecast {
    
    font-size: 0.75em;
    background-color: #717E8E;
    margin-left: 12px;
    margin-right: 8px;
    padding: 5px;
    border-radius: 5px;
}

.future-date {
    font-size: 0.9em;
    font-weight: 300;
}